* {
    box-sizing: border-box;
}

.header {
    text-align: center;
}

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-input {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background: #A68568;
    color: #e2cfc0;
    height: 2rem;
    width: 25rem;
    border: none;
    border-radius: 10px;
}