body {
    background: #222621;
}

.header {
    text-align: center;
}

.card-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

.sort-option {
    text-align: center;
}

.sort-option > p {
    display: inline-block;
    margin-right: 1rem; 
    font-size: 1.2rem;
}

.sort-option > select {
    color: #d1c1b4;
    width: 8rem;
    height: 2rem;
    text-align: center;
    background: #735943;
    border: 2px solid #BFA38A;
}